<!DOCTYPE html>
<html>
<head>
    <title>ngAnimate-JS</title>
    <meta charset="utf-8" />
    <script src="Scripts/jquery-1.9.1.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-animate.js"></script>
</head>
<body ng-app="myApp" ng-init="items=[1,2,3,4,5,6]">
    <button ng-click="show=!show">Toggle</button>
    <div ng-if="show" ng-repeat="item in items" class="slide">
        {{ item }}
    </div>
    <script type="text/javascript">
        angular.module('myApp', ['ngAnimate'])
            .animation('.slide', [
                function () {
                    return {
                        enter: function (element, doneFn) {
                            jQuery(element).fadeIn(1000, doneFn);
                        },
                        move: function (element, doneFn) {
                            jQuery(element).fadeIn(1000, doneFn);
                        },
                        leave: function (element, doneFn) {
                            jQuery(element).fadeOut(1000, doneFn);
                        }
                    }
                }
            ]);
    </script>
</body>
</html>
