<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/jquery-1.9.1.js"></script>
</head>
<body ng-app="myApp" ng-controller="helloCtrl">
    <h1>{{msg}}</h1>
    <input type="checkbox" ng-model="flag" />
    <button ng-click="func3()">Test3</button>
    <button ng-click="func()">Test Basic then</button>
    <button ng-click="funcPromise()">Test then promise</button>
    <button ng-click="ajaxPromise()">Test Ajax Promise</button>
    <button ng-click="all()">Test All</button>
    <button ng-click="when()">Test when</button>
    <script>
        angular.module('myApp', []).controller('helloCtrl', ['$scope', '$q', '$timeout', function (scope, q, timeout) {

            function getUser() {
                var defer = q.defer();
                setTimeout(function () {
                    $.ajax({
                        url: '/hello.html',
                        complete: function () {
                            var user = { name: '123' };
                            defer.resolve(user);
                        }
                    });
                }, 1000);
                return defer.promise;
            }

            scope.func3 = function () {
                getUser().then(function (user) {
                    console.log(user);
                });
            }

            //scope.func3();

            function getTimePromise() {
                var defer = q.defer();
                var promise = defer.promise;
                timeout(function () {
                    defer.resolve('getTimePromise success');
                }, 2000);
                return promise;
            }

            function getAjaxPromise() {
                var defer = q.defer();
                var promise = defer.promise;
                $.ajax({
                }).then(function () {
                    defer.resolve('getAjaxPromise success');
                });
                return promise;
            }


            scope.ajaxPromise = function () {
                getAjaxPromise().then(function (e) {
                    console.log(e);
                });
            };

            scope.all = function () {
                q.all([getAjaxPromise(), getTimePromise()]).then(function () {
                    console.log(arguments);
                });
            }

            scope.when = function() {
                q.when('hello').then(function(e) {
                    console.log(e);
                });

                q.when(getAjaxPromise()).then(function (e) {
                    console.log(e);
                });
            }


            scope.func = func;
            scope.funcPromise = funcPromise;
            function func() {
                var defer = q.defer();
                var promise = defer.promise;

                promise.then(function (e) {
                    console.log('then1-success' + e);
                }, function (e) {
                    console.log('then1-faild' + e);
                }, function (e) {
                    console.log('then1-notice' + e);
                }).then(function (e) {
                    console.log('then2-success' + e);
                    throw "then2 exception";
                }).catch(function (e) {
                    console.log('catch' + e);
                }).finally(function (e) {
                    console.log('finally' + e);
                });
                defer.notify('通知1');
                defer.notify('通知2');
                defer.resolve('成功1');
                defer.reject('失败1');
            }
            function funcPromise() {
                var defer = q.defer();
                var promise = defer.promise;
                promise.then(function () {
                    var thenDefer = q.defer();
                    timeout(function () {
                        thenDefer.resolve('thenDefer 成功');
                        //thenDefer.reject('thenDefer 失败');//会触发下个then的errorFunc
                    });
                    return thenDefer.promise;
                }).then(function (e) {
                    console.log('then2-success' + e);
                }, function (e) {
                    console.log('then2-faild' + e);
                });
                defer.resolve();
            }
        }]);
    </script>
</body>

</html>
