<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="Scripts/angular.js"></script>
</head>
<body ng-app="myApp" ng-controller="helloCtrl">
    <h1>{{msg}}</h1>
    <input type="checkbox" ng-model="flag" />
    <button ng-click="func1()">Test</button>
    <button ng-click="func2()">Test2</button>
    <script>
        angular.module('myApp', []).controller('helloCtrl', ['$scope', '$q', '$timeout', function (scope, q, $timeout) {
            scope.func1 = function () {
                var defer = q.defer();
                var promise = defer.promise;
                promise.then(function (data) {
                    var msg = '成功:' + data;
                    console.log(msg);
                }, function (data) {
                    var msg = '失败:' + data;
                    console.log(msg);
                }, function (data) {
                    var msg = '通知:' + data;
                    console.log(msg);
                });
                defer.notify('开始执行');
                scope.flag ? defer.resolve('选中') : defer.reject('未选中');
            }

            scope.func2 = function () {
                var defer = q.defer();
                var promise = defer.promise;
                promise.then(function () {
                    var thenDefer = q.defer();
                    $timeout(function () {
                        if (scope.flag)
                            thenDefer.resolve('done success');
                        thenDefer.reject('done faild');
                    }, 1000);
                    return thenDefer.promise;
                }).then(function (data) {
                    console.log(data);
                }).catch(function (erro) {
                    console.log('erro:' + erro);
                });
                defer.notify('开始执行');
                scope.flag ? defer.resolve('选中') : defer.reject('未选中');
            }

        }]);
    </script>
</body>

</html>
